@model PizzaModel

@{

}

<div class="add-container">
    <div class="add-box">
        <form method="post">

            <div class="form-group">
                <label asp-for="Name">Pizza Name</label>
                <input asp-for="Name" type="text" id="pizza-name" name="Name">
            </div><br>

            <div class="form-group">
                <label asp-for="Price">Price</label>
                <input asp-for="Price" type="text" id="price" name="Price">
            </div><br>

            <div class="form-group">
                <label for="image-upload" class="upload-button">Select Image</label>
                <input asp-for="ImgPath" type="file" id="image-upload" name="ImgPath">
            </div><br>

            <div class="form-group">
                <button type="submit" class="add-button">Add New Pizza</button>
            </div><br>
        </form>
    </div>
</div>
