@model PizzaModel

    <div class="add-container">
      <div class="add-box">
        <table>
          <tr>
            <th>pizza name</th>
            <th>price</th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="file" id="image-upload">
              <label for="image-upload" class="upload-button">Select File</label>
              </td>
            <td><bu class="add-button">Add</bu</td>
          </tr>
        </table>
      </div>
    </div>