@model PizzaModel

<div class="delete-container">
    <div class="delete-box">
        <table>
            <tr>
                <th>select pizza</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <select name="pizza" id="pizza">
                        <option value="Veggie pizza">Veggie pizza</option>
                        <option value="Pepperoni Pizza">Pepperoni Pizza</option>
                    </select>
                </td>
                <td><button class="delete-button">Delete</button></td>
            </tr>
        </table>
    </div>
</div>