@model PizzaModel


<div class="delete-container">
    <div class="delete-box">
        <form method="post">
        <table>
            <tr>
                <th>select pizza</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <select asp-for="PizzaId" id="pizza">
                        @foreach (var pizza in ViewBag.options)
                        {
                            <option value="@pizza.PizzaId" >@pizza.Name</option>
                        }

                    </select>
                </td>
                <td><button class="delete-button">Delete</button></td>
            </tr>
        </table>
        </form>
    </div>
</div>