@model PizzaModel

    <div class="edit-container">
      <div class="edit-box">
        <table>
          <tr>
            <th>select pizza</th>
            <th>pizza name</th>
            <th>price</th>
            <th></th>
          </tr>
          <tr>
            <td>
              <select name="pizza" id="pizza">
                <option value="Veggie pizza">Veggie pizza</option>
                <option value="Pepperoni Pizza">Pepperoni Pizza</option>
              </select>
            </td>
            <td><input type="text" value="Cheese Pizza" readonly /></td>
            <td><input type="text" value="15" readonly /></td>
            <td><bu class="edit-button">Eidt</bu</td>
          </tr>
        </table>
      </div>
    </div>