@model UserModel

<aside>
    <div class="admin-container">
        <div class="admin-box">
            <div class="button-container">
                <h3>Admin</h3>
                <ul class="button-list">
                    <li><a asp-action="Add" class="admin-btn"> Add </a></li>
                    <li><a asp-action="Delete" class="admin-btn"> Delete </a></li>
                    <li><a asp-action="Edit" class="admin-btn">Edit</a></li>
                </ul>
            </div>
        </div>
    </div>
</aside>