@model OrderModel

<div class="order-container">
        <div class="box">
            <table>
                <thead>
                    <tr>
                        <th>Pizza type</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Veggie pizza</td>
                        <td>2</td>
                        <td>$ 15</td>
                    </tr>
                </tbody>
            </table>
            <div class="total">
                <p>Total price:</p>
                <p>$</p>
            </div>
            <div>
                <a href="" class="btn"> send order </a>
            </div>
        </div>
    </div>

